<header fxLayoutAlign="space-between center">
    <!-- <div fxLayout="column" fxLayoutGap="5px" align="left"  style="color: white;">
        <a routerLink='/payoutrequest'class="txtColor">Payout Request</a>
        <a routerLink='/login'class="txtColor">Logout</a>
    </div> -->
    <div class="col-lg-12 no-pad">
        <ul class="nav navbar-nav" fxLayout="column">
            <!-- <ul class="listtype"> -->
            <li><a routerLink='/payoutrequest' class="txtColor">Payout Request</a></li>
            <li><a routerLink='/login' class="txtColor">Logout</a></li>
        </ul>
    </div>


</header>