<header fxLayoutAlign="space-between center">
    <div class="login-logo">
        <a routerLink='/home'><img src="assets/images/sabpaisa-logo.png" height="" width="120" class="logo" /></a>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" align="right" style="font-weight: bold;">
        Hi ! Welcome to payout.
        <!-- <a routerLink='/home'>Home</a>
        <a routerLink='/posts'>Post</a>
        <a routerLink='/checkUnchek'>Check</a>
        <a routerLink='/login'>Login</a> -->
    </div>
</header>